<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/css_imports"></div>
    <title>Додати готель</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header"></div>
    <main class="container m-3 d-flex justify-content-center flex-column align-items-center">
        <h2>Додати готель</h2>
        <form th:object="${hotel}" th:method="POST">
            <div>
                <label for="name" class="form-label">Назва</label>
                <input type="text" th:field="*{name}" class="form-control" id="name" required>
            </div>
            <div>
                <label for="city" class="form-label">Місто</label>
                <input type="text" th:field="*{city}" class="form-control" id="city" required>
            </div>
            <div>
                <label for="address" class="form-label">Адреса</label>
                <input type="text" th:field="*{address}" class="form-control" id="address" required>
            </div>
            <div class="mt-2 align-self-center">
                <button type="submit" class="btn btn-primary">Додати готель</button>
                <button type="reset" class="btn btn-light">Очистити</button>
            </div>
        </form>
    </main>
    <div th:replace="fragments/js_imports"></div>
</div>
</body>
</html>