<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/css_imports"></div>
    <title>Вільні кімнати</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header"></div>
    <main class="container m-2 d-flex justify-content-center flex-column align-items-center">
        <h2 th:text="'Вільні кімнати у готелі ' + ${hotel.name}"></h2>

        <form method="get" class="mt-2 container-fluid d-flex flex-column">
            <div class="d-flex align-items-start justify-content-around">
                <div>
                    <label for="check_in" class="form-label">Дата заселення</label>
                    <input type="date" th:value="${check_in} ? ${check_in} : ${today}" th:attr="min=${today}" name="check_in" id="check_in">
                </div>
                <div>
                    <label for="check_out" class="form-label">Дата виселення</label>
                    <input type="date" th:value="${check_out} ? ${check_out} : ${tomorrow}" th:attr="min=${today}" name="check_out" id="check_out">
                </div>
            </div>

            <div class="mt-2 align-self-center">
                <button type="submit" class="btn btn-outline-primary">Показати доступні</button>
            </div>
        </form>

        <div th:if="!${rooms}" class="mt-4 alert alert-info" role="alert">
            Оберіть дати заселення за виселення
        </div>

        <table th:if="${rooms?.size} > 0" class="table text-center table-hover w-75 mt-3">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Номер</th>
                <th scope="col">Спальні місця</th>
                <th scope="col">Бронювання</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="room, stats: ${rooms}">
                <th class="fs-5 fw-normal" th:text="${stats.count}" scope="row"></th>
                <td class="fs-5 fw-normal" th:text="${room.number}"></td>
                <td class="fs-5 fw-normal" th:text="${room.bedAmount}"></td>
                <td>
                    <form th:action="@{|/booking/${room.id}|}" th:method="post">
                        <input type="hidden" name="room_id" th:value="${room.id}">
                        <button type="submit" class="btn btn-info">Забронювати</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="fragments/js_imports"></div>
</div>
</body>
</html>