<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/imports :: imports"></div>
    <meta charset="UTF-8">
    <title>Вхід</title>
</head>
<body>
<main class="m-3 w-25">
    <h2>Увійти</h2>
    <div th:if="${param.error}" style="color: red">
        <h4>Неправильне ім'я або пароль</h4>
    </div>

    <form th:object="${user}" th:action="@{/process-login}" th:method="POST">
        <div>
            <label for="email" class="form-label">Електронна пошта</label>
            <input type="email" class="form-control" name="username" id="email" required>
        </div>
        <div class="mb-2">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div>
            Не маєте акаунту? <a href="/registration">Зареєструйтеся!</a>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
        <button type="reset" class="btn btn-light">Очистити</button>
    </form>
</main>
</body>
</html>