<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/css_imports"></div>
    <title>Реєстрація</title>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header"></div>
    <main class="container m-3 d-flex justify-content-center flex-column align-items-center">
        <h2>Реєстрація</h2>
        <div class="w-25">
            <form th:object="${user}" th:action="@{/registration}" th:method="POST" class="d-flex flex-column">
                <div>
                    <label for="firstName" class="form-label">Ім'я</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" required>
                </div>
                <div>
                    <label for="lastName" class="form-label">Прізвище</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName" required>
                </div>
                <div>
                    <label for="email" class="form-label">Електронна пошта</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email" required>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" required>
                </div>
                <div class="mt-2 align-self-center">
                    <button type="submit" class="btn btn-primary">Зареєструватись</button>
                    <button type="reset" class="btn btn-light">Очистити</button>
                </div>
            </form>
        </div>
    </main>
    <div th:replace="fragments/js_imports"></div>
</div>
</body>
</html>