<nav class="navbar navbar-expand-lg navbar-light bg-light" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" href="/">Сервіс бронювання</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">На головну</a>
            </li>
            <li sec:authorize="hasAuthority('USER')" class="nav-item active">
                <a class="nav-link" th:href="@{|/users/${#authentication.principal.user.id}/booking|}">Мої бронювання</a>
            </li>
            <li sec:authorize="hasAuthority('MANAGER')" class="nav-item active">
                <a class="nav-link" th:href="@{/users}">Користувачі</a>
            </li>
        </ul>

        <form class="form-inline mr-4" th:method="GET" th:action="@{/hotels}">
            <input class="form-control mr-2" name="search" placeholder="Місто">
            <button class="btn btn-outline-success" type="submit">Пошук готеля</button>
        </form>
        <form class="form-inline" method="post" th:action="@{/logout}" sec:authorize="isAuthenticated()">
            <button type="submit" class="btn btn-outline-secondary">Вийти</button>
        </form>
        <form class="form-inline" method="get" th:action="@{/login}" sec:authorize="isAnonymous()">
            <button type="submit" class="btn btn-primary">Увійти</button>
        </form>
    </div>
</nav>